@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


:root {
  /* COLORS */
  --primary: hsl(249, 61%, 79%);
  --secondary: hsl(242, 29%, 44%);
  --accent: hsl(112, 51%, 71%);
  --secondary-accent: hsl(277, 47%, 73%);
  --black: hsl(205, 22%, 11%);
  --white: hsl(270, 8%, 95%);
  --grey: hsl(60, 3%, 78%);

  --heading: 'Nunito', sans-serif;
  --body: 'PT Sans', sans-serif;
}

/* GENERAL */

body {
  font-family: var(--body);
  margin: 0;
}

#__next {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

h1, h2, h3 {
  font-family: var(--heading);
  text-transform: capitalize;
}

h2, h3 {
  padding-bottom: 0;
  margin-bottom: 0.3rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--accent);
  text-decoration: none;
}

.flex-row {
  display: flex;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.accent {
  color: var(--accent);
}

/* HEADER */

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.5rem;
  padding-inline: 5rem;
  border-bottom: 1px solid var(--grey);
  background-color: var(--secondary);
}

.logo {
  align-self: center;
  width: 60px;
}

nav {
  display: flex;
  gap: 2rem;
}

.header__contact {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.text {
  color: var(--accent);
}

/* MAIN */

main {
  grid-area: main;
}

/* FOOTER */

footer {
  grid-area: footer;
  text-align: center;
  border-top: 1px solid var(--grey);
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
}

