
.flex {
  display: flex;
}

/* HERO */

/* using background-image */

.hero {
  /* position: relative; */
  height: 400px;
  width: 100%;
  background-image: url(../public/dog.jpg);
  background-size: cover;
  background-position: 80% 30%;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__text {
  color: var(--white);
  font-size: 3rem;
  margin: 0;
}

.hero__description {
  text-align: center;
}

